accessible-pygments==0.0.5
alabaster==1.0.0
annotated-types==0.7.0
babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.5
build==1.2.2.post1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
docutils==0.21.2
id==1.5.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
iniconfig==2.0.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
Jinja2==3.1.6
keyring==25.6.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.6.0
nh3==0.2.20
packaging==24.2
pluggy==1.5.0
pockets==0.9.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydata-sphinx-theme==0.15.4
pydomjudge==0.0.1b2
Pygments==2.19.1
pyproject_hooks==1.2.0
pytest==7.4.0
python-dotenv==1.0.0
PyYAML==6.0.2
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
responses==0.24.1
rfc3986==2.0.0
rich==13.9.4
roman-numerals-py==3.1.0
SecretStorage==3.3.3
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.8
Sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
sphinx-book-theme==1.1.4
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
twine==6.1.0
typing_extensions==4.12.2
urllib3==2.3.0
zipp==3.21.0
