sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
sphinx-book-theme==1.1.4
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
pydantic~=2.10.6
setuptools~=75.8.0
requests~=2.32.3
